img {
  max-width: 100%;
  border: 0;
  width: 50%;
  /* height: 20%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: -13%;
  margin-bottom: -13%;
}

.logo {
  max-width: 100%;
  margin-bottom: -38px;
  margin-top: 40px;
}

#logo-header {
  width: 230px;
  height: auto;
  margin-top: 40px;
  margin-bottom: -63px;
}


#inicio {
  text-align: center;
  font-size: 17px;
  margin-top: 9px;
  margin-bottom: -130px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #060606;
}

ion-content {
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.7833508403361344) 0%, rgba(68, 9, 121, 1) 55%, rgba(160, 0, 255, 0.5256477591036415) 100%);

}

ion-card {
  border-radius: 15px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.7833508403361344) 0%, rgba(68, 9, 121, 1) 55%, rgba(160, 0, 255, 0.5256477591036415) 100%);
  margin-top: 158px;
  box-shadow: 0px 1px 21px rgba(0, 0, 0, 0.2);

  ion-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF0000;
    margin-bottom: -25px;

    ion-card-title {
      font-size: 1.5em;
      color: #ffffff;
    }
  }

  ion-card-content {
    padding: 20px;


  }
}
a {
  color: white;
}

.olvide {
  color: white;
  font-style: italic;
}

.cursiva {
  font-style: italic;
}

.btn-iniciar {
  background: linear-gradient(to bottom, #e6ecf0, #450f3fd1);
  color: #fff;
  margin-top: 26px;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#recuperar-clave {
  color: #686868;
  text-decoration: underline;
  margin-top: 5px;
  font-size: 13px;
  margin-left: 180px;
  text-decoration: underline;
}


#reg-cuenta {
  color: #000;
  text-align: center;
  margin-top: 48px;
  font-size: 18px;
}

#link-reg {
  color: #686868;
  text-align: center;
  margin-top: 73px;
  font-size: 15px;
  text-decoration: underline;
  margin-left: 120px;
}

#button-inner {
  padding-left: unset;
  padding-right: unset;
  padding-inline-start: var(--padding-start);
  padding-inline-end: var(--padding-end);
  margin-bottom: 12px;
  margin-top: 35px;

}